.footer__socials-wraper{
    display: block;
    margin-right: 93px;

  .footer__socials-title{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.14;
    color: var(--white);
  }

  .footer__socials-list{
    display: flex;
  }
  .footer__socials:not(last-chilt) {
    margin-right: 10px
  }

  .footer__socials-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
      background-color: var(--activ-link-but)}
  }

  .footer__socials-icon{
    fill: var(--white);
  }
  .footer__socials-link:hover .footer__socials-icon,
  .footer__socials-link:focus .footer__socials-icon{fill: var(--white);}}