.footer__logo {
    color: var(--activ-link-but);
    text-decoration: none;
    font-family: var(--secondary-fons);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
  }
.footer__logo span {
    text-align: center;
    color: var(--white);
    text-decoration: none;
    font-family: var(--secondary-fons);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
  }