:root {
    /*Шрифти*/
    --main-fons: "Roboto", sans-serif;
    --secondary-fons: "Raleway", sans-serif;
    /*Цвет*/
    --main-color: #212121;
    --complementary-color: #757575;
    --activ-link-but: #2196f3;
    --background-button: #f5f4fa;
    --white: #fff;
    --icon-color: #AFB1B8;
  }