.benefits__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .benefits__list {
    display: flex;
  }
  .benefits__list .benefits__list-item + .benefits__list-item {
    margin-left: 30px;
  }

  .benefits__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: var(--background-button);
    border-radius: 4px;
  }

  .benefits__list-title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.14;
  }
  .benefits__list-text {
    margin-top: 10px;
    width: 270px;
    color: var(--complementary-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }