.team {
    background-color: #f5f4fa;


  .team__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .team__list {
    display: flex;
    list-style: none
  }

  .team__list-item {
    background-color: var(--white);
    text-align: center;
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team__list .team__list-item + .team__list-item {
    margin-left: 30px;
    margin-right: 0px;
  }
  .team__meta {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .team__name {
  margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
  .team__description {
      margin-bottom: 16px;
    color: var(--complementary-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }}


@import "./team-social";