.header__contact {
    display: flex;
    margin-left: auto;

      & .header__item + .header__item {
        margin-left: 50px;
  }}

  .header__contact-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--complementary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: var(--activ-link-but);
  }}
  .header__contact-icon{
    margin-right: 10px;
    fill: currentColor;
  }