.header__logo {
    color: var(--activ-link-but);

    text-decoration: none;
    font-family: var(--secondary-fons);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  .header__logo span{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: var(--secondary-fons);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }